@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

:root {
    --primary-color: rgb(33, 33, 231);
}

body {
    font-family: 'Poppins';
    margin: 5%;
}

.home-sidebar {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar>a {
    text-decoration: none;
    color: var(--primary-color);
}

.link-style {
    text-decoration: none;
    color: var(--primary-color);
}

.book-grid {
    display: grid;
    grid-template-columns: 30% 70%;

}

.book-img-main {
    width: 100%;
}

.book-container {
    margin-left: 50px;
}