@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

:root {
    --secondary-color: rgb(69, 33, 231);
    --primary-color: white;
}

body {
    font-family: 'Poppins';
    /* margin: 5%; */
    margin: 0;
}


.landing-page {
    background-image: url('https://images.unsplash.com/photo-1498243691581-b145c3f54a5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=1400&q=60');
    height: 700px;
    width: 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
   /* filter: brightness(50%); */
   color: white;
   box-shadow: 0px 4px 4px 0px #00000040,inset 0 0 0 1000px rgba(0,0,0,.6)
}

h1 {
    color: var(--primary-color);
    font-size: 50px;
}



.home-sidebar {
    /* display: grid;
    grid-template-columns: 20% 80%; */
}

.sidebar>a {
    text-decoration: none;
    color: var(--primary-color);
}

.link-style {
    text-decoration: none;
    color: var(--primary-color);
}

.book-grid {
    display: grid;
    grid-template-columns: 30% 70%;

}

.book-img-main {
    width: 100%;
}

.book-container {
    margin-left: 50px;
    padding: 5%;
    border: 1px solid rgba(128, 128, 128, 0.178);
}

.border-style {

    padding: 5%;
    border: 1px solid rgba(128, 128, 128, 0.178);

}

.btn-style {
    padding: 5% 25%;
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: 18px;
    border: none;
    color: white;
    border-radius: 15px;
}

.center {
    display: flex;
    justify-content: center;
}

.book-display-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.book-dispay-grid-item {
    margin-bottom: 50px;



}

.book-dispay-grid-item {}


.submit-style {
    color: white;
    background-color: var(--primary-color);
    border: none;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 10px;
}

.input-style {
    width: 100%;
    color: red;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid var(--secondary-color);
    border-right: none;
    padding: 5px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: var(--secondary-color);
  }
  
  .searchButton {
    width: 100px;
    height: 65px;
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }