
{% extends 'catalog/base_generic.html'%} {% block MainContent %}
<div class="content">
  <div class="book-grid">
    <div class="border-style">
      <img
        class="book-img-main"
        src="{{ book.image.url }}"
        alt="{{ book.title }}"
      />
      <div class="center" >
        <button class="btn-style">Reserve</button>
      </div>
    </div>
    <div class="book-container">
      <h1 class="border-style">Book Details</h1>
      <div class="border-style">
        <h2>Title: {{ book.title }}</h2>

        <strong>Author:</strong>
        <a href="{% url 'authorDetails' book.author.id %}">{{ book.author }}</a>

        <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>
      </div>

      <br />
      <div class="border-style">
        <h2>Summary</h2>
        {{ book.summary }}

        <h4>Copies</h4>
      </div>
    </div>
  </div>
</div>

{% endblock %}
