{% extends 'catalog/base_generic.html'%} {% block MainContent %}
<div class="content">
  <div class="book-grid">
    <div>
      <img
        class="book-img-main"
        src="https://covers.openlibrary.org/b/id/12749583-L.jpg"
        alt=""
      />
    </div>
    <div class="book-container">
      <h1>{{ book.title }}</h1>

      by
      <a href="{% url 'authorDetails' book.author.id %}">{{ book.author }}</a>

      <p><strong>ISBN:</strong> {{ book.isbn }}</p>
      <p><strong>Genre:</strong> {{ book.Genre }}</p>

      <h3>Summary</h3>
      {{ book.summary }}
    </div>
  </div>
</div>

{% endblock %}
