{% extends 'catalog/base_generic.html' %} {% block MainContent %}
<div class="content">
  <div class="landing-page">

    <div class="wrap">
      <h1>Welcome to the Local Library</h1>
      <form action="{% url 'search' %}" method="GET">
        <div class="search">
          <input name="q" type="text" class="searchTerm" placeholder="What are you looking for?">
          <button  type="submit" class="searchButton">
            <i class="fa fa-search"><img width="20px"
                src="https://www.iconsdb.com/icons/preview/white/search-13-xxl.png" alt=""></i>
          </button>

        </div>
      </form>

    </div>
  </div>

</div>

{% endblock %}